<h1 mat-dialog-title>Change password</h1>
<form [formGroup]="form" (submit)="changePassword()">
    <div mat-dialog-content fxLayout="column">
        <mat-form-field>
            <mat-label>Old password</mat-label>
            <mat-pass-toggle-visibility #oldPasswordToggle matSuffix></mat-pass-toggle-visibility>
            <input matInput [type]="oldPasswordToggle.type" formControlName="oldPassword" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>New password</mat-label>
            <mat-pass-toggle-visibility #newPasswordToggle matSuffix></mat-pass-toggle-visibility>
            <input matInput #newPassword [type]="newPasswordToggle.type" formControlName="newPassword" required>
            <mat-hint align="end" aria-live="polite">
                {{newPassword.value.length}} / {{newPasswordComponent.max}}
            </mat-hint>
            <mat-password-strength #newPasswordComponent
                         [password]="form.controls.newPassword.value">
            </mat-password-strength>
            <mat-password-strength-info [passwordComponent]="newPasswordComponent"></mat-password-strength-info>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm new password</mat-label>
            <mat-pass-toggle-visibility #newPasswordConfirmToggle matSuffix></mat-pass-toggle-visibility>
            <input matInput [type]="newPasswordConfirmToggle.type" formControlName="newPasswordConfirm" required>
        </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [mat-dialog-close]="false">Close</button>
        <button mat-raised-button color="primary" [disabled]="form.touched && form.invalid" type="submit" cdkFocusInitial>Change password</button>
    </div>
</form>