<div class="morale-assistant" fxLayout="column" fxLayoutAlign="center center">
    <div class="title-section" fxLayout="column" fxLayoutAlign="start center" fxFlex="30">
        <h1>Morale Assistant</h1>
        <h2>Your personal work morale assistant!</h2>
        <h2>Make productive work great again!</h2>
    </div>
    <div class="introduction-section" fxLayoutAlign="center center" fxFlex="10">
        Well, some BS here about work productivity and its connection to good jokes.
    </div>
    <div class="joke-section" fxLayoutAlign="center center" fxFlex="50">
        <app-joke-box></app-joke-box>
    </div>
    <div class="credits-section" fxLayoutAlign="center end" fxFlex="10">
        Credits: Kristóf Herold
    </div>
</div>