.title-section {
    background-color: #C5CAE9;
}

.introduction-section {
    background-color: #9FA8DA;
}

.joke-section {
    background-color: #7986CB;
}

.credits-section {
    background-color: #7986CB;
}