<div class="morale-assistant" fxLayout="column" fxLayoutAlign="space-between center" fxFlexFill>
    <div class="site-wrap">
        <h1>
            Your personal<br>morale assistant<span class="the-blinking-dot">.</span>
        </h1> 
        <app-joke-box></app-joke-box>
    </div>
    <div class="credits" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0.5em">
        <span>{{title}} v{{version}}</span>
        <a href="https://github.com/h3r0ld" target="_blank"><img src="/assets/github-icon.svg"></a>
        <span>Kristóf Herold</span>
    </div>
</div>
