.morale-assistant {
    background-color: #d1d1d1;
    width: 100%;
    height: 100%;

    .title-section {
        background-color: #C5CAE9;
        width: 100%;
    }
    
    .introduction-section {
        background-color: #9FA8DA;
        width: 100%;
    }
    
    .joke-section {
        background-color: #7986CB;
        width: 100%;
    }
    
    .credits-section {
        background-color: #7986CB;
        width: 100%;
        height: 100%;
    }
}