@import './src/styles/theme.scss';

.joke-box {
    padding: 20px;
}

.joke-box-card {
    background-color: #E8EAF6;
    padding: 1px;
    width: 100%;
}

.joke-box-card mat-card-content {
    background-color: mat-color($mat-primary, lighter);
    color: mat-color($mat-primary, darker);
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 0px;
    padding: 5px;
}

.joke-box-card mat-card-actions {
    background-color: mat-color($mat-primary, main);
    color: mat-color($mat-primary, lighter);
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
    margin: 0px;
}

.joke-text {
    min-height: 100px;
    font-size: 20px;
}

.mat-button-toggle-checked {
    background-color: mat-color($mat-accent, main);
}

.settings {
    padding: 10px 5px 5px 5px;
}

.share-menu {
    padding-right: 10px;
    padding-left: 10px;

    color: $light-primary-text;
}