<div class="joke-box">
    <mat-card class="joke-box-card">
        <ngx-spinner name="spinner" type="pacman" [fullScreen]="false" size="small"></ngx-spinner>
        
        <mat-card-content>
            <div *ngIf="started; else startBlock" class="joke-text">{{joke.text}}</div>
            <ng-template #startBlock>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    Choose language: 
                    <mat-button-toggle-group [(value)]="selectedLanguage">
                        <mat-button-toggle [value]=Language.Hungarian>
                            <span class="flag-icon flag-icon-hu"></span>
                        </mat-button-toggle>
                        <mat-button-toggle [value]=Language.English>
                            <span class="flag-icon flag-icon-gb"></span>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-checkbox
                        [(checked)]="autoplay">
                        Autoplay
                    </mat-checkbox>
                    <button mat-raised-button color="primary" (click)="getNextJoke()">
                        Start laughing!
                    </button>
                </div>
            </ng-template>
        </mat-card-content>
        <mat-card-actions *ngIf="started">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <app-sound-bar fxFlex="50" 
                    [sound]="joke.soundFile" 
                    [autoplay]="autoplay"
                    (soundStarted)="stopCountdown()"
                    (soundStopped)="stopCountdown()"
                    (soundEnded)="onSoundEnded()">
                </app-sound-bar>

                <div fxFlex="50" fxLayoutAlign="space-between">
                    <mat-button-toggle-group [(value)]="selectedLanguage">
                        <mat-button-toggle [value]=Language.Hungarian>
                            <span class="flag-icon flag-icon-hu"></span>
                        </mat-button-toggle>
                        <mat-button-toggle [value]=Language.English>
                            <span class="flag-icon flag-icon-gb"></span>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <button mat-raised-button color="primary" (click)="getNextJoke()">
                        Next One {{timeLeft > 0 ? 'in ' + timeLeft + ' ' : ''}}
                        <mat-icon aria-hidden="false">sentiment_satisfied_alt</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
